<div class="main">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-control">
    <h2 class="form-title">Logo</h2>
    <div class="form-button__switch">
      <button
        routerLink="/login"
        class="button__switch button__switch--left"
        type="button"
      >
        Đăng nhập
      </button>
      <button
        routerLink="/register"
        class="button__switch button__switch-right button__switch--active"
        type="button"
      >
        Đăng ký
      </button>
    </div>
    <div class="form-group">
      <label class="form-label">Email</label>
      <div class="form-group__input">
        <i class="far fa-envelope form-icons"></i>
        <input
          type="email"
          class="form-input"
          placeholder="Nhập email"
          formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
      </div>
      <div *ngIf="submitted && f.email.errors" class="text-danger">
        <div *ngIf="f.email.errors.required">Email là bắt buộc!</div>
        <div *ngIf="f.email.errors.pattern">
          Email nhập vào không chính xác!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Số điện thoại</label>
      <div class="form-group__input">
        <i class="fas fa-phone-alt form-icons"></i>
        <input
          type="number"
          class="form-input"
          placeholder="Nhập số điện thoại"
          formControlName="phoneNumber"
          [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }"
        />
      </div>
      <div *ngIf="submitted && f.phoneNumber.errors" class="text-danger">
        <div *ngIf="f.phoneNumber.errors.required">
          Số điện thoại là bắt buộc!
        </div>
        <div *ngIf="f.phoneNumber.errors.pattern">
          Số điện thoại nhập vào không chính xác!
        </div>
        <!-- <div *ngIf="f.phoneNumber.errors?.minlength">
          Số điện thoại phải từ 9 số trở lên!
        </div> -->
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Ngày Sinh</label>
      <div class="form-group__input">
        <i class="fas fa-calendar-alt form-icons"></i>
        <input
          type="date"
          class="form-input"
          placeholder="Nhập ngày sinh"
          formControlName="dateOfBirth"
          [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }"
        />
      </div>
      <div *ngIf="submitted && f.dateOfBirth.errors" class="text-danger">
        <div *ngIf="f.dateOfBirth.errors?.required">Ngày sinh là bắt buộc</div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Giới tính</label>
      <div class="form-group__input">
        <i class="fas fa-user-alt form-icons"></i>
        <input
          type="text"
          class="form-input"
          placeholder="Nhập giới tính"
          formControlName="gender"
          [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
        />
      </div>
      <div *ngIf="submitted && f.gender.errors" class="text-danger">
        <div *ngIf="f.gender.errors?.required">Giới tính là bắt buộc!</div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Mật khẩu</label>
      <div class="form-group__input">
        <i class="fas fa-lock form-icons form-icons"></i>
        <input
          type="password"
          class="form-input"
          placeholder="Nhập mật khẩu"
          formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
      </div>
      <div *ngIf="submitted && f.password.errors" class="text-danger">
        <div *ngIf="f.password.errors?.required">Mật khẩu là bắt buộc!</div>
        <div *ngIf="f.password.errors?.minlength">
          Password phải có ít nhất 6 ký tự!
        </div>
        <div *ngIf="f.password.errors?.maxlength">
          Password không được vượt quá 40 ký tự!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Nhập lại mật khẩu</label>
      <div class="form-group__input">
        <i class="fas fa-lock form-icons form-icons"></i>
        <input
          type="password"
          class="form-input"
          placeholder="Nhập lại mật khẩu"
          formControlName="confirmPassword"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
        />
      </div>
      <div *ngIf="submitted && f.confirmPassword.errors" class="text-danger">
        <div *ngIf="f.confirmPassword.errors?.required">
          Nhập lại mật khẩu là bắt buộc!
        </div>
        <div *ngIf="f.confirmPassword.errors?.matching">
          Mâtk khẩu nhập lại không chính xác!
        </div>
      </div>
    </div>

    <a href="#" class="form-forward">Quên mật khẩu?</a>

    <button class="form-button form-button__submit">Đăng ký</button>

    <p class="form-option">Đăng ký với?</p>

    <button
      class="form-button button__google form-button__option"
      type="button"
    >
      <i class="fab fa-google form-button__icon"></i>
      <p>Google</p>
    </button>
    <button
      class="form-button button__facebook form-button__option"
      type="button"
    >
      <i class="fab fa-facebook form-button__icon"></i>
      <p>Facebook</p>
    </button>
  </form>
</div>
